/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2, h3 {
  margin-top: 0;
}

/* Header Styles */


/* Settings Styles */
.settings {

  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.settings-section {
  margin-bottom: 20px;
}

.setting-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Setting item styles */
.setting-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s;
  margin-right: 10px;
  background-color: #ccc;
}

.switch:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: 2px;
  top: 1px;
  background-color: #fff;
  transition: transform 0.3s;
}

.switch:checked {
  background-color: #4caf50;
}

.switch:checked:before {
  transform: translateX(20px);
}


/* Controls Styles */
.controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.save-btn,
.cancel-btn {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-btn {
  background-color: #4CAF50;
  color: #fff;
}

.cancel-btn {
  background-color: #ccc;
  color: #000;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .settings {
    padding: 10px;
  }
  
  .controls {
    flex-wrap: wrap;
  }
  
  .save-btn,
  .cancel-btn {
    margin-top: 10px;
    margin-left: 0;
  }
}
