<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Plan</title>
    <link rel="stylesheet" href="./css/subscription-plan.css">
	<script src="#"></script>
</head>
<body>
   
        <!-- Your .plan elements go here -->
        <div class="plan-info">
            <h1>Subscription Plans</h1>
            <span>Enjoy the best plans suitable for your needs.<span>
                <div class="plan-choice">
                    <input type="radio" id="monthly" name="subscription-type" value="monthly" checked>
                    <label for="monthly">Monthly</label>
                    <input type="radio" id="yearly" name="subscription-type" value="yearly">
                    <label for="yearly">Yearly</label>
                  </div>
        </div>
        <div class="plan-container">
        <div class="plan">
            <div class="plan-name">
                <h3>Trial</h3>
                <span class="monthly-payment">$0 / per user</span>
                <span class="yearly-payment" style="display: none;">$0 / per user</span>
                <span>Most popular</span>
            </div> 
            <div class="plan-include">
                <h4>All plans included</h4><!--This list should have stylish ticks-->
                <ul>
                    <li class="yes">Up to 05 users monthly</li>
                    <li class="yes">Free 5 host &amp; domain</li>
                    <li class="yes">Custom infrastructure</li>
                    <li class="yes">Access to all our room</li>
                    <li class="no">24/7 dedicated Support</li>
                    <li class="no">Unlimited updates</li>
                    <li class="no">Landing pages &amp; Web widgets</li>
                </ul>
                <button class="select-plan-btn"><a href="./payment-info.html">Select</a></button>
            </div>
           
        </div>
        
        <div class="plan">
            <div class="plan-name">
                <h3>Premium</h3>
                <span class="monthly-payment">$99 / per user</span>
                <span class="yearly-payment" style="display: none;">$850 / per user</span>
                <span>Recommended</span>
                
            </div>
            <div class="plan-include">
                <h4>All plans included</h4>
                <ul>
                    <li class="yes">Up to 05 users monthly</li>
                    <li class="yes">Free 5 host &amp; domain</li>
                    <li class="yes">Custom infrastructure</li>
                    <li class="yes">Access to all our room</li>
                    <li class="yes">24/7 dedicated Support</li>
                    <li class="yes">Unlimited updates</li>
                    <li class="yes">Landing pages &amp; Web widgets</li>
                </ul>
                <button class="select-plan-btn"><a href="./payment-info.html">Select</a></button>
            </div>
           
        </div>
        
      </div>
      
    
    
</body>
</html>