<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tutorium</title>
    <link rel="stylesheet" type="text/css" href="./css/footer.css">
    
  </head>
  <body>
    <footer role="contentinfo" class="footer">
        <div class="footer-banner">
            <p class="footer-header">The best platform for students to find expert tutors and ace their studies.</p>
          </div>
        <div class="footer-columns">
          <div class="footer-column">
            <div class="footer-links">
              <h2>About Us</h2>
              <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Help and Support</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
          
          <div class="footer-column">
            <div class="footer-social">
              <h2>Follow Us</h2>
              <ul>
                <li><a href="#"><img class="twitter-icon" src="./img/twitter-icon.png" alt="Twitter">Twitter</a></li>
                <li><a href="#"><img class="facebook-icon" src="./img/facebook-icon.png" alt="Facebook"> Facebook</a></li>
                <li><a href="#"><img class="instagram-icon" src="./img/instagram-icon.png" alt="Instagram"> Instagram</a></li>
                <li><a href="#"><img class="youtube-icon" src="./img/youtube-icon.png" alt="Youtube"> YouTube</a></li>
                </ul>
                </div>
                </div>
                <div class="footer-column">
                    <div class="footer-tutorium">
                      <h2>Tutorium</h2>
                      <ul>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Become a Student</a></li>
                        <li><a href="#">Become a Tutor</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="footer-column">
            
                  </div>
                </div>
                <div class="footer-bottom">
                  <p>&copy; 2023 Tutorium Inc. All rights reserved.</p>
                </div>
              </footer>
              <script src="./js/footer.js"></script>
  </body>
</html>






