<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>header</title>
  <link rel="stylesheet" href="./css/header.css">
	
</head>
<body>
  <header>
    <div class="header-left">
      <div class="logo"> <a href="#" id="logo-link"><img src="./img/home-icon.png" alt="logo"></a></div>
    </div>

    <div class="header-middle">
      <div class="notification">
        <a href="./notifications.html" id="notification-link"><img src="./img/notification-bell.png" alt="notification-icon"></a>
        <span class="notification-count">2</span>
      </div>
      <div class="user-type">
        <a href="#" id="user-type-link"><img src="./img/user-type.png" alt="user-type-icon"></a>
      </div>
     
    </div>
    
   
    <div class="header-right">
      <div class="dashboard">
        <img src="./img/dash-icon.png" alt="dashboard-icon" id="dashboard-icon">
        <div class="dashboard-dropdown" id="dashboard-dropdown">
          <ul>
            <li><a href="#"><img src="./img/dash-icon.png" alt="dashboard-icon"> Dashboard</a></li>
            <li><a href="../student/student-course-view.html"><img src="./img/course.png" alt="course-icon">My Courses</a></li>
            <li><a href="../student/student-subscription-view.html"><img src="./img/subscription.png" alt="Subscription-icon">Subscription</a></li>
            <li><a href="../student/payment-info.html"><img src="./img/payment.png" alt="Payment details-icon">Payment details</a></li>
            <li><a href="#"><img src="./img/students.png" alt="Students-icon">Students</a></li>
            <li><a href="../student/view-tutors.html"><img src="./img/tutor.png" alt="Tutor-icon">Tutor</a></li>
            <li><a href="#"><img src="./img/earnings.png" alt="earnings-icon">Earnings</a></li>
            <li><a href="#"><img src="./img/reviews.png" alt="Reviews-icon">Reviews</a></li>
            <li><a href="#"><img src="./img/quiz.png" alt="Quiz-icon">Quiz</a></li>
            
          </ul>
        </div>
      </div>
   
    <div class="search-bar">
      <input type="text" placeholder="Search.." id="search-input">
      <button type="submit" id="search-button"><img src="./img/search-icon.png" alt="search-icon"></button>
    </div>
    <div class="login"><a href="../account/login.html">Login</a></div>
    <div class="user-menu">
      <img src="./img/profile.png" alt="user-icon" id="user-icon" class="user-icon user-profile-picture">
        <div class="user-dropdown" id="user-dropdown">
          <div class="user-section">
            <a href="#"><img src="./img/profile.png" alt="user-picture"></a>
            <span class="user-name">Username</span>
            <span class="user-role">student</span>
          </div>
          <ul>
            <li><a href="../student/student-edit-profile.html"><img src="./img/edit-profile.png" alt="Edit Profile-icon">Edit Profile</a></li>
            <li><a href="#"><img src="./img/account-settings.png" alt="Account Settings-icon">Account Settings</a></li>
            <li><a href="#"><img src="./img/help.png" alt="Help-icon">Help</a></li>
            <li><a href="#" id="logout-link"><img src="./img/logout.png" alt="logout-icon">Log Out</a></li>
          </ul>
        </div>
    </div>
    </div>
  </header>
  <script src="./js/header.js"></script>
</body>
</html>
