<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tutorium</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/header.css">
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="#" class="logo"><img src="logo.png" alt="Tutorium Logo"></a>
        <nav>
          <ul>
            <li class="has-dropdown">
              <a href="#">Categories</a>
              <div class="dropdown">
                <ul>
                  <li><a href="#">Mathematics</a></li>
                  <li><a href="#">Science</a></li>
                  <li><a href="#">History</a></li>
                  <li><a href="#">Literature</a></li>
                  <li><a href="#">Computer Science</a></li>
                  <li><a href="#">Art</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Search</a></li>
          </ul>
        </nav>
        <div class="user-menu">
          <a href="#">Notifications</a>
          <a href="#">Subscription</a>
          <a href="#">Login</a>
          <a href="#">Get Started</a>
        </div>
      </div>
    </header>
    <main>
      <!-- Page content goes here -->
    </main>
    <footer>
      <!-- Footer content goes here -->
    </footer>
    <script src="script.js"></script>
  </body>
</html>
