<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/message.css">
</head>
<body>
  
  <div id="chat-container">
    <div id="chat-header">
      <h3>Chat with Tutors</h3>
      <button id="close-chat-btn">X</button>
    </div>
    <div id="chat-message-container">
      <!-- Messages will be appended here dynamically -->
    </div>
    <div id="chat-input-container">
      <textarea id="chat-input" placeholder="Type your message here..."></textarea>
      <button id="send-chat-btn">Send</button>
    </div>
  </div>
  
</body>
</html>
