<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Header</title>
	<link rel="stylesheet" href="./css/header.css">
</head>
<body>
	<header>
		<div class="header-left">
			<div class="logo">
        <a href="#" class="home"><img src="./img/home-icon.png" alt="Logo"></a>
			</div>
			<div class="categories">
				<a href="#">Categories</a>
				<div class="dropdown">
					<a href="#">Web Development</a>
					<a href="#">Data Science</a>
					<a href="#">Design</a>
					<a href="#">Business</a>
					<a href="#">Marketing</a>
				</div>
			</div>
		</div>
		<div class="header-middle">
			<form action="#" method="get">
				<input type="text" placeholder="Search courses">
				<button type="submit"><img src="./img/search-icon.png" alt="Search"></button>
			</form>
		</div>
		<div class="header-right">
      <div class="notifications">
        <a href="./notifications.html">
          <img src="./img/bell.png" alt="Notifications">
          <span class="notification-count">2</span>
        </a>
      </div>
      <div class="followers">
        <a href="link-to-follow">
          <img src="./img/followers-icon.png" alt="Followers">
          <span class="ping">&bull;</span>
        </a>
      </div>
      <div class="login-account">
        <a href="../account/login.html">Login</a>
      </div>
      <div class="signup-account">
        <a href="../account/signup.html">Sign up</a>
      </div>
      
      
      <div class="account-profile">
          <img src="./img/ellipsis-menu-icon.png" alt="profile-icon">
          <div class="dropdown">
            <div class="profile-section">
              <a href="#" class="link-to-profile">
                <img src="./img/profile.png" alt="profile-picture">
              </a>
              <div class="profile-info">
                <span class="profile-name">Mark</span>
                <span class="profile-role">Tutor</span>
              </div>
            </div>
            <a href="#">Tutor</a>
            <a href="#">Student</a>
            <a href="#">Notifications</a>
            <a href="#">Subscription</a>
            <a href="#">Create content</a>
            <a href="#">Account settings</a>
            <a href="#">Library</a>
            <a href="#">Become a tutor</a>
            <a href="#">Help</a>
            <a href="#" class="log-out">Log out</a>
        </div>
			</div>
		</div>
	</header>
</body>
</html>
