<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Advanced Categories View</title>
  <link rel="stylesheet" href="./css/categories.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head> 

<body>

  <main>


    <section class="categories">
      <h2>Categories</h2>
      <p>"Education is the most powerful weapon which you can use to change the world." - Nelson Mandela</p>
      
      <div class="category-list">
        <div class="category">
         <a href="#"><img src="./img/math.png" alt="Category 1"></a>
          <label for="category">Math</label>
          <p>Available Courses: 5</p>
          
        </div>
        <div class="category">
            <a href="#"><img src="./img/science.png" alt="Category 2"></a>
            <label for="category">Science</label>
            <p>Available Courses: 3</p>
          </div>
          
          <div class="category">
            <a href="#"><img src="./img/history.png" alt="Category 3"></a>
            <label for="category">History</label>
            <p>Available Courses: 7</p>
          </div>
          
          <div class="category">
            <a href="#"><img src="./img/programming.png" alt="Category 4"></a>
            <label for="category">Programming</label>
            <p>Available Courses: 2</p>
          </div>
          
          <div class="category">
            <a href="#"><img src="../img/music.png" alt="Category 5"></a>
            <label for="category">Music</label>
            <p>Available Courses: 4</p>
          </div>
          
          <div class="category">
            <a href="#"><img src="./img/cooking.png" alt="Category 6"></a>
            <label for="category">Cooking</label>
            <p>Available Courses: 1</p>
          </div>
          
          <div class="category">
            <a href="#"><img src="./img/fitness.png" alt="Category 7"></a>
            <label for="category">Fitness</label>
            <p>Available Courses: 6</p>
          </div>
          
      </div>
      <button class="view-all-btn">View All</button>
    </section>
  </main>


  <script src="./js/categories.js"></script>
</body>

</html>
