<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Student Subscription View</title>
	<link rel="stylesheet" href="./css/student-subscription-view.css">
</head>
<body>
	<header>
	</header>
	<main>
		<div class="plan">
			
			<div class="plan-name">
                <span class="item-label">Active Plan:</span>
					<span class="item-value">Trial</span>
            </div>
			<div class="plan-info">
				<div class="plan-item">
					<span class="item-label">Monthly limit:</span>
					<span class="item-value">limited</span>
				</div>
				<div class="plan-item">
					<span class="item-label">Cost:</span>
					<span class="item-value">$0/Month</span>
				</div>
				<div class="plan-item">
					<span class="item-label">Renewal Date:</span>
					<span class="item-value">Feb 17, 2023</span>
				</div>
                <div class="plan-status">
                    <div class="plan-status-label">Subscription status:</div>
                    <div class="plan-status-bar">
                        <div class="plan-status-progress" style="width: 80%;">80%</div>
                    </div>
                </div>
			</div>
			<div class="plan-perks">
				<h2>The plan includes:</h2>
				<ul>
					<li>Sample videos</li>
					 <li>Watch live streams</li>
					 <li>Access to all our room</li>
					 <li>24/7 dedicated Support</li>
					 <li>Landing pages &amp; Web widgets</li>
				</ul>
			</div>
			
			<div class="plan-actions">
				<button class="cancel-plan-btn">Cancel Plan</button>
				<button class="upgrade-plan-btn">Upgrade Plan</button>
			</div>
		</div>
	</main>
	<footer>
	</footer>
</body>
</html>
