<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>view tutors</title>
	<link rel="stylesheet" href="./css/view-tutors.css">
	<script src="#"></script>
</head>
<body>
	<Header>
		<!--live space for the homepage header-->
	</Header>
	<div class="container">
		<div class="tutor-list-controls">
			<div class="tutor-list">
				<h1>Tutors list</h1>
				<a href="#">Home</a>
				<h3>·  Tutor list</h3>
			</div>
			
			<nav>
				<ul>
					<li>
						<a href="#">Category</a>
						<select>
							<option>Legal</option>
							<option>Finance</option>
							<option>IT</option>
						</select>
					</li>
					<li>
						<a href="#">Sort by:</a>
						<select>
							<option>Following</option>
							<option>Most popular</option>
							<option>Most viewed</option>
							<option>Top rated</option>
						</select>
					</li>
					<button type="submit">Filter Results</button>
					<li><input type="text" placeholder="Search tutor"><button type="submit">
						<img src="./img/search-icon.png" alt="search-icon"></button></li>
					
				</ul>
			</nav>
		</div>
	
			
	
		
		<main>
			
	
			<div id="tutor-list"></div>
			<div id="pagination"></div>
			
			<div class="Tutor">
				<img src="./img/person.png" alt="Avatar">
				<div class="info">
					<h2>Dennis Barrett</h2>
					<p>Professor at Sigma College</p>
					<div class="rating"><span>4.3</span><img src="./img/star.png" alt="gold-star"></div>
					<p>Perceived end knowledge certainly day sweetness why cordially. Ask a quick six seven offer see among.</p>
					<p class="occupation">Digital Marketing</p>
					<ul class="socials">
						<a href="#"><img src="./img/facebook-icon.png" alt="facebook-icon"></a>
						<a href="#"><img src="./img/instagram-icon.png" alt="instagram-icon"></a>
						<a href="#"><img src="./img/twitter-icon.png" alt="twitter-icon"></a>
						<a href="#"><img src="./img/linkedin-icon.png" alt="linkedin-icon"></a>
					</ul>
				</div>
			</div>
			
			<div class="Tutor">
				<img src="avatar2.jpg" alt="Avatar">
				<div class="info">
					<h2>Jacqueline Miller</h2>
					<p>Professor at Eastbay College</p>
					<div class="rating"><span>4.3</span><img src="#" alt="gold-star"></div>
					<p>Passage its ten led hearted removal cordial. Preference any astonished unreserved Mrs.</p>
					<p class="occupation">Graphic Designer</p>
					<ul class="socials">
						<a href="#"><img src="./img/facebook-icon.png" alt="facebook-icon"></a>
						<a href="#"><img src="./img/instagram-icon.png" alt="instagram-icon"></a>
						<a href="#"><img src="./img/twitter-icon.png" alt="twitter-icon"></a>
						<a href="#"><img src="./img/linkedin-icon.png" alt="linkedin-icon"></a>
					</ul>
				</div>
			</div>
			
			<div class="Tutor">
				<img src="avatar3.jpg" alt="Avatar">
				<div class="info">
					<h2>Louis Ferguson</h2>
					<p>Professor at Cambridge College</p>
					<div class="rating"><span>4.3</span><img src="#" alt="gold-star"></div>
					<p>Passage its ten led hearted removal cordial. Preference any astonished unreserved Mrs.</p>
					<p class="occupation">Engineering Physics</p>
					<ul class="socials">
						<a href="#"><img src="./img/facebook-icon.png" alt="facebook-icon"></a>
						<a href="#"><img src="./img/instagram-icon.png" alt="instagram-icon"></a>
						<a href="#"><img src="./img/twitter-icon.png" alt="twitter-icon"></a>
						<a href="#"><img src="./img/linkedin-icon.png" alt="linkedin-icon"></a>
					</ul>
				</div>
			</div>
			
			<div class="Tutor">
				<img src="avatar4.jpg" alt="Avatar">
				<div class="info">
					<h2>Frances Guerrero</h2>
					<p>Professor at LPU College</p>
					<div class="rating"><span>4.3</span><img src="#" alt="gold-star"></div>
					<p>As it so contrasted oh estimating instrument. Size like body some one had. Are conduct viewing boy minutes warrant the expense</p>
					<p class="occupation">Graphic Designer</p>
					<ul class="socials">
						<a href="#"><img src="./img/facebook-icon.png" alt="facebook-icon"></a>
						<a href="#"><img src="./img/instagram-icon.png" alt="instagram-icon"></a>
						<a href="#"><img src="./img/twitter-icon.png" alt="twitter-icon"></a>
						<a href="#"><img src="./img/linkedin-icon.png" alt="linkedin-icon"></a>
					</ul>
				</div>
			</div>
			
			<div class="Tutor">
				<img src="avatar5.jpg" alt="Avatar">
				<div class="info">
					<h2>Amanda Reed</h2>
					<p>Professor at NIT College</p>
					<div class="rating"><span>4.3</span><img src="#" alt="gold-star"></div>
					<p>Contrasted oh estimating instrument. Size like body some one had. Are conduct viewing boy minutes warrant the expense</p>
					<p class="occupation">Web Designer</p>
					<ul class="socials">
						<a href="#"><img src="./img/facebook-icon.png" alt="facebook-icon"></a>
						<a href="#"><img src="./img/instagram-icon.png" alt="instagram-icon"></a>
						<a href="#"><img src="./img/twitter-icon.png" alt="twitter-icon"></a>
						<a href="#"><img src="./img/linkedin-icon.png" alt="linkedin-icon"></a>
					</ul>
				</div>
			</div>
			
			<div class="Tutor">
				<img src="avatar6.jpg" alt="Avatar">
				<div class="info">
					<h2>Lori Stevens</h2>
					<p>Professor at Oxford University</p>
					<div class="rating"><span>4.3</span><img src="#" alt="gold-star"></div>
					<p>Yet no jokes worse her why. Bed one supposing breakfast day fulfilled off depending questions. Whatever boy her exertion his extended. Ecstatic followed handsome drawings</p>
					<p class="occupation">Medical Science</p>
					<ul class="socials">
						<a href="#"><img src="./img/facebook-icon.png" alt="facebook-icon"></a>
						<a href="#"><img src="./img/instagram-icon.png" alt="instagram-icon"></a>
						<a href="#"><img src="./img/twitter-icon.png" alt="twitter-icon"></a>
						<a href="#"><img src="./img/linkedin-icon.png" alt="linkedin-icon"></a>
					</ul>
				</div>
			</div>
			<div class="Tutor">
				<img src="avatar7.jpg" alt="Avatar">
				<div class="info">
					<h2>Samuel Bishop</h2>
					<p>Professor at VNSGU College</p>
					<div class="rating"><span>4.3</span><img src="#" alt="gold-star"></div>
					<p>As it so contrasted oh estimating instrument. Size like body some one had. Are conduct viewing boy minutes warrant the expense</p>
					<p class="occupation">Digital Marketing</p>
					<ul class="socials">
						<a href="#"><img src="./img/facebook-icon.png" alt="facebook-icon"></a>
						<a href="#"><img src="./img/instagram-icon.png" alt="instagram-icon"></a>
						<a href="#"><img src="./img/twitter-icon.png" alt="twitter-icon"></a>
						<a href="#"><img src="./img/linkedin-icon.png" alt="linkedin-icon"></a>
					</ul>
				</div>
			</div>
			
			<div class="Tutor">
				<img src="avatar8.jpg" alt="Avatar">
				<div class="info">
					<h2>Joan Wallace</h2>
					<p>Professor at LPU College</p>
					<div class="rating"><span>4.3</span><img src="#" alt="gold-star"></div>
					<p>Tt so contrasted oh estimating instrument. Size like body some one had. Are conduct viewing boy minutes warrant the expense</p>
					<p class="occupation">Graphic Designer</p>
					<ul class="socials">
						<a href="#"><img src="./img/facebook-icon.png" alt="facebook-icon"></a>
						<a href="#"><img src="./img/instagram-icon.png" alt="instagram-icon"></a>
						<a href="#"><img src="./img/twitter-icon.png" alt="twitter-icon"></a>
						<a href="#"><img src="./img/linkedin-icon.png" alt="linkedin-icon"></a>
					</ul>
				</div>
			</div>
			<div id="pagination">
				<span>Showing 1 to 8 of 20 entries</span>
				<div class="page-navigation">
				  <button class="previous-page">Previous</button>
				  <div class="page-numbers">
					<span class="current-page">1</span>
					<span>2</span>
					<span>3</span>
					<!-- Add more page numbers here -->
				  </div>
				  <button class="next-page">Next</button>
				</div>
			  </div>
		</main>
		
	</div>
	
</body>
</html>