<!DOCTYPE html>
<html lang="en">
<head>
	<title>payment-method</title>
	<link rel="stylesheet" type="text/css" href="../subscription/css/payment-method.css">
    <script type="text/javascript" src="./js/payment-method.js"></script>
</head>
<body>
    <header>
    </header>
    
	<main role="main">
		<div class="container">
			
			<div class="card-method" role="region" aria-labelledby="card-method-heading" aria-hidden="true">
				<div class="payment-methods" role="region" aria-labelledby="payment-methods-heading">
					<h2 id="payment-methods-heading">Payment Method</h2>
					<div class="payment-select">
					  <ul class="payment-type">
						<li><a href="#" class="card"><img class="card-icon" src="./img/card.png" alt="Card">Card</a></li>
						<li><a href="#" class="paypal"><img class="paypal-icon" src="./img/paypal.png" alt="Paypal">Paypal</a></li>
					  </ul>
					</div>
				  </div>
				<h3 id="card-method-heading">Card Payment</h3>
				<div id="card-form" class="payment-form">
					<label for="card-type">Card Type</label>
					<select id="card-type" name="card-type">
						<option value="debit">Debit</option>
						<option value="credit">Credit</option>
					 </select>
					<label for="card-name">Card Holder Full Name</label>
					<input type="text" id="card-name" name="card-name" required>
					<label for="card-number">Card Number</label>
					<input type="text" id="card-number" name="card-number" required>
					<label for="card-expiry">Expiry Date</label>
					<input type="text" id="card-expiry" name="card-expiry" required>
					<label for="card-cvc">CVC</label>
					<input type="text" id="card-cvc" name="card-cvc" required>
					<button class="submit-payment" data-method="card">Pay</button>
                </div>
            </div>
            <div class="paypal-method" role="region" aria-labelledby="paypal-method-heading" aria-hidden="true">
                
				<h3 id="paypal-method-heading">PayPal Payment</h3>
                <div id="paypal-form" class="payment-form">
                    <label for="paypal-email">PayPal Email</label>
                    <input type="email" id="paypal-email" name="paypal-email" required>
					<label for="paypal-password">PayPal Password</label>
                    <input type="password" id="paypal-password" name="paypal-password" required>
                    <button class="submit-payment" data-method="paypal">Pay</button>
                </div>
            </div>
        
            <div class="success-message" role="alert" aria-hidden="true">
                <p>Your payment was successful!</p>
            </div>
        
            <div class="error-message" role="alert" aria-hidden="true">
                <p>There was an error processing your payment. Please try again.</p>
            </div>
        </div>
    </main>
        
    <footer>
    </footer>
</body>
</html>
