<!DOCTYPE html>
<html lang="en">
<head>
	<title>Subscription Plans</title>
	<link rel="stylesheet" type="text/css" href="./css/subscription.css">
    <script type="text/javascript" src="../../public/js/subscription.js"></script>
</head>
<body>
    <header>
    </header>
    

	<main role="main">
		<div class="container">
			<h1>Subscription Plans</h1>
			<div class="subscription-plans">
				<div class="trial-plan" role="region" aria-labelledby="trial-plan-heading">
					<h2 id="trial-plan-heading">Trial Plan</h2>
					<ul>
						<li>Watch Sample videos</li>
						<li>Access Live Streams</li>
					</ul>
					<button class="select-plan" data-plan="trial">Select</button>
				</div>
				<div class="premium-plan" role="region" aria-labelledby="premium-plan-heading">
					<h2 id="premium-plan-heading">Premium Plan</h2>
					<ul>
						<li>Access To Full Courses</li>
						<li>No Ads</li>
						<li>Save Courses</li>
						<li>Follow And Get Notifications</li>
						<li>Private Tutor Chat</li>
					</ul>
					<button class="select-plan" data-plan="premium">Select</button>
				</div>
			</div>

			
            </div>
        </main>
        
        <footer>
            
        </footer>
          
        
        </body>
        </html>
